<div style="font-size:large; font-variant:small-caps; font-weight:bold; color:#4A777A; padding-top:15px ;">Editing listing</div><hr>

<% form_for(@listing) do |f| %>
  <%= f.error_messages %>

  <p>
    Title<br />
    <%= f.text_field :title, :style=>'margin-top:5px;' %>
  </p>
  <p>
    Category<br />
    <%= f.text_field :category, :style=>'margin-top:5px;' %>
  </p>
  <p>
    Address<br />
    <%=h f.text_field :address, :style=>'margin-top:5px;' %>
  </p>
  <p>
    Description<br />
    <%= f.text_area :description, :style=>'margin-top:5px; font-size:small;', :size=>"40x5" %>
  </p>
  <p>
    Approximate Payment<br />
    <%= f.text_field :approx_payment, :style=>'margin-top:5px' %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

