<h1>Search Results</h1>

<table class = 'listings'>
<% if @results!=nil %>
  <tr>
  <div class = 'listing'>
    <div class = 'listing_title'><b>Title</b></div>
    <div class = 'listing_category'><b>Category</b></div>
    <div class = 'listing_distance'><b>Distance</b></div>
  </div>
  </tr>
	<% @dresults.each do |result| %>

  	
	<tr>
		<div class = 'listing'>
		<a class = 'listinglink' href='/listings/<%=h result["listing"].id %>'>
				<div class = 'listing_title'><b><%=h result["listing"]["title"] %></b><span style='color:#999999; padding-left: 5px;'><%=h result["listing"]["description"] %></span> </div>
				<div class = 'listing_category'><%=h result["listing"]["category"] %></div>
				<div class = 'listing_distance'>
				<% if current_user  or (!@user.lat.nil? && !@user.lng.nil?) -%><%=h "%.2f" % result["distance"] %>
				<% else %>None
				<% end %></div>
		</a>
		</div>

	</tr>
	
	<% end %>
<% end %>
</table>


<br />



<!-----
<h1>Search Results</h1>

<table>
<% if @results!=nil %>
  <tr>
    <th>Employer</th>
    <th>Title</th>
    <th>Category</th>
    <th>Description</th>
    <th>Approx payment</th>
    <th>Zipcode</th>
  </tr>#919191
	<% @results.each do |listing| %>
	
  	<tr>
    	<td><%=h listing.user.login %></td>
    	<td><%=h listing["title"] %></td>
    	<td><%=h listing["category"] %></td>
    	<td><%=h listing["description"] %></td>
    	<td><%=h listing["approx_payment"] %></td>
    	<td><%=h listing["zipcode"] %>, <%=h link_to 'Show', listing %></td>
  	</tr>
	


	<% end %>
<% end %>
</table>

<br />

<%= link_to 'New listing', new_listing_path %>
------>
