
<p>
  <b>Employer:</b>
  <%=h link_to @listing.user.login, @listing.user %>
</p>

<p>
  <b>Title:</b>
  <%=h @listing.title %>
</p>

<p>
  <b>Category:</b>
  <%=h @listing.category %>
</p>

<p>
  <b>Zipcode: </b>
  <%=h @listing.zipcode %> (This will soon show distance to your default location)
</p>

<p>
  <b>Description:</b>
  <%=h @listing.description %>
</p>

<p>
  <b>Approx payment:</b>
  $<%=h @listing.approx_payment %>
</p>

<!---
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %> -->

<% if current_user %>
<% if @past_offer != nil %>
<% form_for(@past_offer, :html=>{:class=>'service_offer'}) do |f| %>
	<%= f.error_messages %>
	<span class='past_offer'> You have made an offer to work for $<%=h @past_offer.amount %> </span>
	Change your Service Charge? $ <%= f.text_field :amount, :size=>3 %>
	<%= f.hidden_field :user_id, :value=>current_user.id %>
	<%= f.hidden_field :listing_id, :value=>@listing.id %>
	<%= f.submit 'Change' %>
	<% end %>
<% else %>
<% form_for(@offer, :html=>{:class=>'service_offer'}) do |f| %>
	<%= f.error_messages %>
	<b> Offer to Work: </b> 
	Service Charge $ <%= f.text_field :amount, :size=>3 %>
	<%= f.hidden_field :user_id, :value=>current_user.id %>
	<%= f.hidden_field :listing_id, :value=>@listing.id %>
	<%= f.submit 'Submit' %>
<% end %>
<% end %>
<% end %>


