
<p>
  <b>Employer:</b>
  <%=h link_to @listing.user.login, @listing.user %>
  <% if current_user and current_user.id==@listing.user.id %><span style="float:right; padding:5px 10px; margin-right:5px; background-color:#EEEBF7;">
	<%= link_to 'Edit Listing', edit_listing_path(@listing) %></span>
  <% end %>
</p>

<p>
  <b>Title:</b>
  <%=h @listing.title %>
</p>

<p>
  <b>Category:</b>
  <%=h @listing.category %>
</p><% if (current_user and current_user.id==@listing.user.id) or (current_user and @past_offer!=nil and @past_offer.accepted==true) %>
<p>
  <b>Address: </b>
  <%=h @listing.address %>
</p>
<% else %>
<p>
  <b>Distance from you: </b>
  <% if @distance==-1 %> Unresolved <% else %> <%=h "%.2f" % @distance %> <% end %>miles
</p>
<% end %>
<p>
  <b>Description:</b>
  <%=h @listing.description %>
</p>

<p>
  <b>Approx payment:</b>
  $<%=h @listing.approx_payment %>
</p>

<!---
<%= link_to 'Edit Listing', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %> -->

<% if current_user and current_user.id!=@listing.user.id %>
<!--- Logged on User is not the Listing Owner --->
	<% if @past_offer != nil %>
		<div class='service_offer'>
		<% if @listing.active==false and @past_offer.accepted==true %>
			<span class='past_offer'> Your offer to work for $<%=h @past_offer.amount %> has been accepted. Contact the employer below for further details.<p>
			<%= form_tag :controller=>'listings', :action=>'add_erating' %>
				Rate your experience with <%=h link_to @listing.user.login, @listing.user %> as an employer: <br><script>
				new Starry('add_erating', {name:"rating", startAt:<%= @listing.employer_rating or 3 %>}); </script>
				<%= hidden_field_tag 'listing_id', @listing.id %>
				<span style='position:relative; top:0;'><%= submit_tag "Submit Rating" %></span>
			</form>
			</span>
		<% elsif @listing.active==false and @past_offer.accepted==false %>
			<span class='past_offer'> Sorry, your offer to work for $<%=h @past_offer.amount %> has not been accepted. However, you might get a second chance. </span>
		<% else %>
			<% form_for(@past_offer) do |f| %>
				<%= f.error_messages %>
				<span class='past_offer, past_offer_active'> You have made an offer to work for $<%=h @past_offer.amount %> </span>
				Change this amount? $ <%= f.text_field :amount, :size=>3 %>
				<%= f.hidden_field :user_id, :value=>current_user.id %>
				<%= f.hidden_field :listing_id, :value=>@listing.id %>
				<%= f.submit 'Change' %>
			<% end %>
		<% end %>
		</div>
	<% else %>
		<% form_for(@offer, :html=>{:class=>'service_offer'}) do |f| %>
		<%= f.error_messages %>
		<b> Offer to Work: </b> 
		Service Charge $ <%= f.text_field :amount, :size=>3 %>
		<%= f.hidden_field :user_id, :value=>current_user.id %>
		<%= f.hidden_field :listing_id, :value=>@listing.id %>
		<%= f.submit 'Submit' %>
		<% end %>
	<% end %>
	<!--- Messaging
	<div class='message messaging_title'> Messaging </div>  --->
	<% @messages.each do |message| %>
		<% if message.sender.id == current_user.id %>
			<div class='message my_message'>
		<% else %>
			<div class='message their_message'>
		<% end %>
		<%=h link_to message.sender.login, message.sender %> <%=h message.content %>
		</div>
	<% end %>
	<% if @listing.active==true or (@listing.active==false and @past_offer!=nil and @past_offer.accepted==true) %>
	<% form_for(@new_message, :html=>{:class=>'new_message message'}) do |f| %>
		<%= f.text_area :content, :size=>"65x2", :placeholder=>'Send a Message' %>
		<%= f.hidden_field :from, :value=>current_user.id %>
		<%= f.hidden_field :to, :value=>@listing.user.id %>
		<%= f.hidden_field :listing_id, :value=>@listing.id %>
		<%= f.submit 'Send' %>
	<% end %>
	<% end %>
	
	<% if @listing.active==false and @past_offer != nil and @past_offer.accepted == true %>
	<p><center>
	<img src="http://maps.google.com/maps/api/staticmap?center=<%=h @place[:lat] %>,<%=h @place[:lng] %>&zoom=14&size=600x400&sensor=false&markers=color:red|label:B|<%=h @place[:lat] %>,<%=h @place[:lng] %>&markers=color:blue|label:A|<%=h current_user.lat %>,<%=h current_user.lng %>">
	</center>
	<% end %>
	
	
<% elsif current_user and current_user.id==@listing.user.id%>
<!--- Logged on User is the Listing Owner 
      Show each User offering to work, their ratings, and offer, and messaging between you and user ---><br>
	<% if @offers.empty? %>
	<span style="font-weight:bold; color:#4A777A; padding:5px;">No offers have been made to work yet</span><p>
	<% else %>	
	<span style="font-weight:bold; color:#4A777A; padding:5px;">The following users have offered to work:</span>
	<% end %>
	<% @offers.each do |offer| %>
	<div class='service_offer'>
		<%=h link_to offer.user.login, offer.user %>
		<div class="rating_bar"> <div style="width:<%=h offer.user.worker_rating*20 %>%"></div></div>
		Payment: $<%=h offer.amount %>
		
		<div class='offer_nav'> 
		<%= link_to_function("Hide/Show Messaging", "$('messaging_for_offer#{offer.id}').toggle()") %>
		<% if @listing.active==true %>
			 | <span style='display:inline-block;'>
			<%= button_to "Accept Offer", {:action => "acceptOffer", :listing_id => @listing.id, :offer_id => offer.id }, :confirm => "Are you sure?", :method => :acceptOffer %>
			</span>
		<% elsif @listing.active==false and offer.accepted==true %>
			| <span style='display:inline-block;'>
			<%= button_to "Rescind Offer", {:action => "rescindOffer", :listing_id => @listing.id, :offer_id => offer.id }, :confirm => "Are you sure?", :method => :rescindOffer %>
			</span>
		<% elsif @listing.active==false and offer.accepted==false %>
			| <span style='display:inline-block;'>
			<%= button_to "Accept Offer", {:action => "rescindOffer", :listing_id => @listing.id, :offer_id => offer.id }, :confirm => "Are you sure?", :method => :rescindOffer, :disabled => true, :class=>'offerButton' %> </span>		
		<% end %><br>
		</div>			
		<% if @listing.active==false and offer.accepted==true %>
			<%= form_tag :controller=>'listings', :action=>'add_wrating' %>
				<script> new Starry('add_wrating', {name:"rating", startAt:<%= @listing.worker_rating or 3 %>}); </script>
				<%= hidden_field_tag 'listing_id', @listing.id %>
				<%= hidden_field_tag 'worker_id', offer.user.id %>
				<span style='position:absolute; bottom: 11%; left: 27%;'><%= submit_tag "Rate this Worker" %></span>
			</form>
		<% end %>

	</div>
	<!--- Messages --->
	<span id='messaging_for_offer<%=h offer.id %>' style="display:none;">
		<% @messageblocks[offer.id].each do |message| %>
			<% if message.sender.id == current_user.id %>
				<div class='message my_message'>
			<% else %>
				<div class='message their_message'>
			<% end %>
			<%=h link_to message.sender.login, message.sender %> <%=h message.content %>
			</div>
		<% end %>
		<% form_for(@new_message, :html=>{:class=>'new_message message'}) do |f| %>
			<%= f.text_area :content, :size=>"65x2", :placeholder=>'Send a Message' %>
			<%= f.hidden_field :from, :value=>current_user.id %>
			<%= f.hidden_field :to, :value=>offer.user.id %>
			<%= f.hidden_field :listing_id, :value=>@listing.id %>
			<%= f.submit 'Send' %>
		<% end %>
	</span>
	<% end %>
	
	
	
<% end %>

