
<p>
  <b>Employer:</b>
  <%=h link_to @listing.user.login, @listing.user %>
</p>

<p>
  <b>Title:</b>
  <%=h @listing.title %>
</p>

<p>
  <b>Category:</b>
  <%=h @listing.category %>
</p>

<p>
  <b>Zipcode: </b>
  <%=h @listing.zipcode %> (This will soon show distance to your default location)
</p>

<p>
  <b>Description:</b>
  <%=h @listing.description %>
</p>

<p>
  <b>Approx payment:</b>
  $<%=h @listing.approx_payment %>
</p>

<!---
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %> -->

<% if current_user %>
	<% if @past_offers != nil %>
		<span id='past_offers'>
		<h4> Offer History </h4>
		You have made '<% @past_offers.count %>' offers to work for this listing: 
		<i>$<% @past_offers.map {|ofr| ofr.amount.to_f}.join(', $') %></i>
	<% end %>
<% form_for(@offer, :html=>{:class=>'service_offer'}) do |f| %>
	<%= f.error_messages %>
	<b> Offer to Work: </b> 
	Service Charge $ <%= f.text_field :amount, :size=>3 %>
	<%= f.hidden_field :user_id, :value=>current_user.id %>
	<%= f.hidden_field :listing_id, :value=>@listing.id %>
	<%= f.submit 'Submit' %>
<% end %>
<% end %>


