<p>
  <h3>My Account </h3>
  <%= link_to 'Edit Account Details', edit_account_path %> | 
  <%= link_to 'View Public Profile', @user %>
</p>
<p>
  <b>Login:</b> <%=h @user.login %>
</p>
<p>
  <b>Email:</b> <%=h @user.email %>
</p>

<p>
  <b>Address:</b> <%=h @user.address %>
</p>

<p>
  <b>Rating as Employer:</b> <div class="rating_bar"> <div style="width:<%=h @user.employer_rating*20 %>%"></div></div> (<%=h @user.num_eratings %> ratings)
</p>

<p>
  <b>Rating as Worker:</b> <div class="rating_bar"> <div style="width:<%=h @user.worker_rating*20 %>%"></div></div> (<%=h @user.num_wratings %> ratings)
</p>

<p>
  <b>Description:</b>
  <%=h @user.description %>
</p>

