<div style="font-size:x-large; font-variant:small-caps; font-weight:bold; color:#4A777A; padding-top:15px ;">New User Registration</div><hr>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
<p>Login<br/>
<%= f.text_field :login, :style=>'margin-top:5px;' %></p>

<p>Email<br/>
<%= f.text_field :email, :style=>'margin-top:5px;'  %></p>

<p>Password<br/>
<%= f.password_field :password, :style=>'margin-top:5px;'  %></p>

<p>Confirm Password<br/>
<%= f.password_field :password_confirmation, :style=>'margin-top:5px;'  %></p>

<p>Address <br><span style='color:grey; font-size:smaller;'>(Note: Your address will never be released. It is only used for geolocation)</span><br/>
<%= f.text_field :address, :style=>'margin-top:5px;'  %></p>

<p>Description<br/>
<%= f.text_area :description, :size => "40x5", :style=>'margin-top:5px;' %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
