<p>
  <u><h3><%=h @user.login %>'s Profile </h3></u>
</p>

<p>
  <b>Rating as Employer:</b> <div class="rating_bar"> <div style="width:<%=h @user.employer_rating*20 %>%"></div></div> (<%=h @user.num_eratings %> ratings)
</p>

<p>
  <b>Rating as Worker:</b> <div class="rating_bar"> <div style="width:<%=h @user.worker_rating*20 %>%"></div></div> (<%=h @user.num_wratings %> ratings)
</p>

<p>
  <b>Description:</b>
  <%=h @user.description %>
</p>
