<h1>Listing offers</h1>

<table>
  <tr>
    <th>User</th>
    <th>Listing</th>
    <th>Amount</th>
    <th>Distance</th>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><%=h offer.user_id %></td>
    <td><%=h offer.listing_id %></td>
    <td><%=h offer.amount %></td>
    <td><%=h offer.distance %></td>
    <td><%= link_to 'Show', offer %></td>
    <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
    <td><%= link_to 'Destroy', offer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New offer', new_offer_path %>